In [4]:
import pandas as pd

In [8]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name':course_name, 'duration':duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans:
- The loc[ ] function is used to access a group of rows and columns by labels or a boolean array, while iloc[ ] is used for integer-location based indexing.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [18]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

# Reindexing the dataframe
print(f"Output for new_df.loc[2]: {new_df.loc[2]}")

print(f"\nOutput for new_df.iloc[2]: {new_df.iloc[2]}")

Output for new_df.loc[2]: course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]: course_name    Machine Learning
duration                      3
Name: 1, dtype: object

---------------------------------------------------------------------------
Consider the below code to answer further questions:
- import pandas as pd
- import numpy as np
- columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
- indices = [1,2,3,4,5,6]
- #Creating a dataframe:
- df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6),columns=columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.537445  0.809222  0.737783  0.011433  0.161204  0.916959
2  0.787507  0.304012  0.376948  0.383014  0.398953  0.064485
3  0.486203  0.469885  0.635409  0.471006  0.491439  0.855625
4  0.950009  0.350586  0.512243  0.591386  0.690987  0.264680
5  0.236501  0.355526  0.664348  0.344356  0.301547  0.701956
6  0.199225  0.085377  0.515684  0.984096  0.574134  0.177759

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [21]:
print(df1.mean())

column_1    0.532815
column_2    0.395768
column_3    0.573736
column_4    0.464215
column_5    0.436377
column_6    0.496910
dtype: float64

In [22]:
print(df1['column_2'].std())

0.23868816732775505

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[ ] and equate this to string data of your choice.]

In [25]:
# Replacing the data in the second row of 'column_2' with a string variable
# df1.loc[2, 'column_2'] = 'string_data'

# # Attempting to find the mean of column 'column_2'
# mean_column_2 = df1['column_2'].mean()
# print("Mean of column_2:", mean_column_2)

 When we run this code, we will encounter an error similar to: TypeError: could not convert string to float: 'string_data'.

This error occurs because the mean function is unable to calculate the mean of a column containing string data. To avoid this error, we should ensure that all values in the column are numeric before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans:
-  Windows functions in pandas allow you to perform calculations on a specific window or subset of your data. Types of windows functions include rolling window functions, expanding window functions, and exponential window functions.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [27]:
import pandas as pd
print(pd.datetime.now().strftime('%Y-%m'))

2024-03

/tmp/ipykernel_84/3878381392.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().strftime('%Y-%m'))

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [31]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the two dates
timedelta = date2 - date1

# Display the result
print("Difference:")
print("Days:", timedelta.days)
print("Hours:", timedelta.components.hours)
print("Minutes:", timedelta.components.minutes)

Enter the first date (YYYY-MM-DD):  2024-02-20
Enter the second date (YYYY-MM-DD):  2024-03-20

Difference:
Days: 29
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def convert_tocategorical(file_path, column_name, category_order):
    df = pd.read_csv(file_path)
    
    df[column_name] = pd.Categorical(df[column_name], categories = category_order, ordered = True)
    
    sorted_data = df.sort_values(by=column_name)
    print(sorted_data)
    
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical data type: ")
category_order = input("Enter the category order separated by commas: ").split(',')

# Call the function
convert_to_categorical(file_path, column_name, category_order)

Enter the file path of the CSV file:  r"C:\Users\lenovo\Downloads\Fraud.csv"
Enter the column name to convert to categorical data type:  type

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to visualize sales data using a stacked bar chart
def visualize_sales(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Assuming the CSV file contains sales data for different products over time
    df.plot(kind='bar', stacked=True)
    plt.xlabel('Time')
    plt.ylabel('Sales')
    plt.title('Sales of Each Product Category Over Time')
    plt.show()

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing sales data: ")

# Call the function
visualize_sales(file_path)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the following.
- Prompt the user to enter the file path of the CSV file containing the student dataR
- Read the CSV file into a Pandas DataFrameR
- Calculate the mean, median, and mode of the test scores using Pandas toolsR
- Display the mean, median, and mode in a table.

In [ ]:
import pandas as pd

# Function to calculate mean, median, and mode of test scores and display the results in a table
def analyze_test_scores(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Calculate mean, median, and mode of test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode()
    
    # Display the results in a table
    print("+-----------+--------+")
    print("| Statistic | Value  |")
    print("+-----------+--------+")
    print(f"| Mean      | {mean_score:.1f}   |")
    print(f"| Median    | {median_score}   |")
    print(f"| Mode      | {', '.join(map(str, mode_score))}   |")
    print("+-----------+--------+")

# Prompt the user to enter the file path of the CSV file containing student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Call the function
analyze_test_scores(file_path)