Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, generally stored and accessed electronically from a computer system. Databases allow for the storage, retrieval, updating, and management of data efficiently.

SQL Databases:

Relational: SQL databases are based on a table-based structure.
Schema: Require a predefined schema to structure the data.
Scalability: Vertical scalability (increasing the capacity of a single server).
Transactions: Strong adherence to ACID properties (Atomicity, Consistency, Isolation, Durability).
Query Language: Use SQL (Structured Query Language) for defining and manipulating data.
NoSQL Databases:

Non-Relational: NoSQL databases can be document-based, key-value pairs, wide-column stores, or graph databases.
Schema: No fixed schema, flexible and dynamic schema design.
Scalability: Horizontal scalability (distributing the load across multiple servers).
Transactions: May not strictly follow ACID properties but often follow the BASE model (Basically Available, Soft state, Eventual consistency).
Query Language: Each NoSQL database may have its own query language or use RESTful APIs.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL that deals with defining and modifying database structures such as tables, indexes, and constraints.

- CREATE TABLE Employees (
  EmployeeID int,
  FirstName varchar(255),
  LastName varchar(255),
  BirthDate date,
  PRIMARY KEY (EmployeeID)
);

DROP: Used to delete existing tables or databases.

- DROP TABLE Employees;

ALTER: Used to modify the structure of an existing table.

- ALTER TABLE Employees
ADD Email varchar(255);

TRUNCATE: Used to remove all records from a table, but not the table itself.

- TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used for managing data within schema objects. It includes commands such as INSERT, UPDATE, and DELETE.

INSERT: Used to insert new records into a table.

- INSERT INTO Employees (EmployeeID, FirstName, LastName, BirthDate)
VALUES (1, 'John', 'Doe', '1990-01-01');

UPDATE: Used to modify existing records in a table.

- UPDATE Employees
SET Email = 'john.doe@example.com'
WHERE EmployeeID = 1;

DELETE: Used to delete existing records from a table.

- DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to query the database and retrieve data. The primary command in DQL is SELECT.

SELECT: Used to retrieve data from one or more tables.

- SELECT FirstName, LastName, BirthDate
FROM Employees
WHERE EmployeeID = 1;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a field (or combination of fields) in a table that uniquely identifies each row/record in that table. It must contain unique values and cannot contain null values.

- CREATE TABLE Employees (
  EmployeeID int PRIMARY KEY,
  FirstName varchar(255),
  LastName varchar(255)
);

Foreign Key: A foreign key is a field (or combination of fields) in one table that uniquely identifies a row of another table. The foreign key is defined in a child table and references the primary key in the parent table.

- CREATE TABLE Orders (
  OrderID int,
  OrderDate date,
  EmployeeID int,
  PRIMARY KEY (OrderID),
  FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library.

- import mysql.connector

# Establish the connection
- conn = mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='yourpassword',
    database='yourdatabase'
)

# Create a cursor object
- cursor = conn.cursor()

# Execute a SQL query
- cursor.execute('SELECT * FROM employees')

# Fetch the result
- results = cursor.fetchall()

- for row in results:
    print(row)

# Close the cursor and connection
- cursor.close()
- conn.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: Specifies the table to query.
2. JOIN: Joins tables.
3. WHERE: Filters rows.
4. GROUP BY: Groups rows based on a condition.
5. HAVING: Filters groups.
6. SELECT: Specifies the columns to return.
7. DISTINCT: Removes duplicate rows from the result.
8. ORDER BY: Sorts the result.
9. LIMIT: Limits the number of rows returned.